*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
HGTR/application/cache/*
!HGTR/application/cache/index.html
!HGTR/application/cache/.htaccess

HGTR/application/logs/*
!HGTR/application/logs/index.html
!HGTR/application/logs/.htaccess

HGTR/user_guide_src/
/vendor/
HGTR/readme.rst
HGTR/contributing.md